<header>
    <div class="navbar bg-dark shadow-sm" style="background-color: rgb(61, 58, 58); height: 70px;">
        <div class="navbar-brand align-item-center d-flex"  style="margin: top 10%;">
        <i   class="fas fa-shipping-fast" style="font-size: 40px; color: rgb(248, 252, 253);">
            </i>&nbsp;&nbsp;&nbsp;
            <strong style="font-size: 25px; font-style: italic; color:rgb(240, 239, 231); margin-top: 10px;
            text-decoration: none;">SHOPINGO</strong>
            &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
            <div class="form-group">
            
            <form class="example" action="/action_page.php">
                <input type="text"  [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search.." name="search">
                <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
              </form>
          </div>
        
      </div>
    <div class="align-item-center d-flex">


     <button class="btn btn-dark" style="margin: right 10px;">
      <a routerLink="login">  <i style="font-size: 25px; color: rgb(243, 243, 239);" class="fas fa-user" ></i>&nbsp;
        <span style="font-size: 24px; font-family: Georgia, 'Times New Roman', Times, serif;">USER</span></a>
    </button>

    <button routerLink="cart" class="btn btn-dark"> 
       <i style="font-size: 25px; color: rgb(239, 245, 243);" class="fas fa-cart-plus" ></i>
      <div style="font: size 8px;" class="badge bg-danger badge-pill">{{totalItem}}</div>   
     </button>

</div>
    </div>
</header>

<a href="mailto:shopfingo@gmail.com" ><i  class="fas fa-envelope fixed-bottom chat "  ></i>
  <!-- <div   class="container" style="background-color: rgb(15, 15, 15); position:absolute ;";>
    Shopify Inc. is a Canadian multinational e-commerce company headquartered in Ottawa, Ontario. Shopify is the name of its proprietary e-commerce platform for online stores and retail point-of-sale systems.[3] The Shopify platform offers online retailers a suite of services including payments, marketing, shipping and customer engagement tools.[4]

The company reported that it had more than 1,700,000 businesses in approximately 175 countries using its platform as of May 2021.[5][6] According to BuiltWith, 1.58 million websites run on the Shopify platform as of 2021.[7][8] According to W3Techs, 4.4% of the top 10 million websites use Shopify.[9] The total gross merchandise volume exceeded US$61 billion for calendar 2019.[10] As of July 2022, Shopify is among the top 20 largest publicly traded Canadian companies by market capitalization.[11] Total revenue for the full year 2021 was US$4.611 billion.[12]
  </div> -->