.form-control {
    border-radius: 3px;
    width: 500px;
     margin-left: 20px;
     margin-top: 10px;
}

* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    width: 600px;
    padding: 5px;
    font-size: 17px;
    border: 1px solid rgb(207, 29, 29);
    float:center;
    margin-top: 5px;
    border-radius: 10px;
    background: #f1f1f1;
    
  }
  
  form.example button {
    float: right;
    width: 50px;
    margin-top: 5px;
    padding: 5px;
    background: #f18a44;
    color: rgb(250, 243, 243);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.chat{
    
   
    font-size: 40px; 
    color: rgb(23, 9, 46);
    float: right;
    
}