<!-- <h3 class="h3">{{name1}}</h3>
 name1:any="";
pData:any="";
pid:any="";
price:any="";
descrip:any="";
image2:any=""; 
// "id":1,"title":"Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops","price":109.95,"description":"Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday","category":"men's clothing","image":"https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg","rating":{"rate":3.9,"count":120}},--> 
<!-- <table><tr *ngFor="let item of product; let i=index">
    <td>{{i+1}}</td>
    <td>{{item.title}}</td>
    <td><img style="width:120px;" src= "{{item.image}}"></td>
    <td>{{item.description}}</td>
    <td>{{item.price}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.total}}</td>
    <td><button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i> </button></td>
</tr>
</table> -->
